<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>

        <script>
            function goToLogin() {
                window.location.href = "/login"
            }

            function goToRegister() {
                window.location.href = "/register"
            }
        </script>
    </head>

    <body>
        <button onclick="goToLogin">
            Log in
        </button>

        <br>

        <button onclick="goToRegister">
            Register
        </button>
    </body>
</html>